@font-face {
    font-family: Seogue UI;
    src: url("../font/SEGOEUI.TTF");
}
@media print {
    .no-break {
        page-break-inside: avoid;
    }
    body{
        font-family: "Seogue UI", "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .clearfix{
        clear: both;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .row{
        width: 100%;
        margin-bottom: 5px;
    }
    .well{
        width: 42%;
        border:3px solid #CCC;
        border-radius: 3px;
        padding: 10px;
        
    }
    .pull-left{
        float: left;
    }
    .pull-right{
        float: right;
    }
	.outer {
		height: auto;
		width: 900px;
		margin: 0px auto;
	}
	.one {
		height: auto;
		width: 900px;
		float: left;
	}
	.one-inner-left {
		height: auto;
		width: 136px;
		float: left;
	}
	.one-inner-right {
		height: auto;
		margin-left: 20px;
		float: left;
	}
	.heading {
		font-size: 18px;
	}
	.one-inner-right-left {
		height: auto;
		width: 364px;
		padding-top: 8px;
		float: left;
	}
	.one-inner-right-right {
		height: auto;
		width: 160px;
		padding-top: 8px;
		float: left;
		
	}
	.settings{
		text-decoration: underline;
		width: 300px;
		display: block;
	}
	.two {
		height: auto;
		width: 900px;
		border: 1px solid black;
		float: left;
	}
	.two-inner-left {
		height: auto;
		width: 400px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.two-inner-right {
		height: auto;
		width: 220px;
		padding-top: 5px;
		font-size: 25px;
		font-weight: normal;
		float: right;
	}
	.three {
		height: auto;
		width: 900px;
		border: 1px solid black;
		float: left;
	}
	.three p {
		font-size: 15px;
		margin: 3px 0;
		padding-left: 5px;
		font-weight: normal;
		
	}
	.three-inner-left {
		height: auto;
		width: 180px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.three-inner-right {
		height: auto;
		width: 400px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.three-inner-bottom-one {
		height: auto;
		width: 180px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		font-weight: normal;
		float: left;
	}
	.three-inner-bottom-two {
		height: 20px;
		width: 170px;
		padding-top: 5px;
		font-size: 14px;
		border: 1px solid black;
		text-align: center;
		float: left;
	}
	.three-inner-bottom-three {
		height: auto;
		width: 120px;
		padding-top: 5px;
		font-size: 15px;
		padding-left: 20px;
		font-weight: normal;
		float: left;
	}
	.three-inner-bottom-four {
		height: 20px;
		width: 160px;
		padding-top: 5px;
		font-size: 14px;
		border: 1px solid black;
		text-align: center;
		float: left;
	}
	.four {
		height: auto;
		width: 895px;
		border: 1px solid black;
		padding-left: 5px;
		font-size: 15px;
		float: left;
		margin: 0;
	}
	.four p {
		margin: 3px 0;
		padding-left: 5px;
		font-weight: normal;
		font-size: 15px;
	}
	.four-inner-left {
		height: auto;
		width: 180px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.four-inner-right {
		height: auto;
		width: 400px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.four-inner-bottom-one {
		height: auto;
		width: 180px;
		padding-left: 5px;
		padding-top: 10px;
		font-size: 15px;
		font-weight: normal;
		float: left;
	}
	.four-inner-bottom-two {
		height: auto;
		width: 340px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		margin-top: 10px;
		float: left;
	}
	.four-inner-bottom-three {
		height: 30px;
		width: 35px;
		border: 2px solid black;
		float: left;
	}
	.four-inner-right-tick {
		height: auto;
		width: 60px;
		float: right;
		padding-right: 35px;
		margin-top: 35px;
		font-style: normal;
	}
	.four-inner-bottom-four {
		height: auto;
		width: 180px;
		padding-left: 5px;
		padding-top: 5px;
		font-size: 15px;
		font-weight: normal;
		margin-top: 10px;
		float: left;
	}
	.four-inner-bottom-five {
		height: auto;
		width: 450px;
		font-size: 15px;
		font-weight: normal;
		border-bottom: none;
		float: left;
	}
	.five {
		height: auto;
		width: 900px;
		border: 1px solid black;
		float: left;
		margin: 0;
	}
	.five p {
		margin: 3px 0;
		padding: 2px;
		text-align: center;
		font-size: 15px;
	}
	.five-inner-left {
		height: auto;
		width: 300px;
		padding-top: 10px;
		font-size: 15px;
		padding-left: 5px;
		margin-bottom: 10px;
		float: left;
	}
	.five-inner-right {
		height: auto;
		width: 300px;
		padding-top: 5px;
		font-size: 15px;
		float: left;
	}
	.six {
		height: auto;
		width: 900px;
		text-align: center;
		margin-bottom: 5px;
		margin-top: 5px;
		float: left;
	}
	
}